<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan</title>
    <link rel="stylesheet" href="../static/assets/theme/css/stylescan.css">
</head>

<body>
    <div class="hero-image">
    </div>
    <div class="hero-div">
        <h1>Diagnose with Diagnosify</h1>
        <form action="{{url_for('predict')}}" novalidate onsubmit="return validate()" method="POST" enctype="multipart/form-data">
            <label for="scanImage" class="select">Choose an Image</label><br>
            <input type="file" id="scanImage" name="scanImage" accept="image/*"><br>
            <div class="preview">
                <div>
                    <img src="../static/assets/images/placeholder.png" alt="image placeholder">
                    <p>No files currently selected for prediction</p>
                </div>
            </div><br>
            <input type="image" src="../static/assets/images/dermatology.png" class="pred" id="predict"><br>
            <label for="predict">Predict</label>
        </form>
    </div>
</body>
<script src="../static/assets/theme/js/scan.js"></script>
</html>